{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "uglify": true
      },
      "loose": true,
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "ramda",
    "lodash",
    ["transform-class-properties", { "spec": true }]
  ]
}
